@charset "utf-8";
/* CSS Document */
body{overflow-x:hidden;font-family:Avenir-Next, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;}
.nav a
{
	font-style: normal;
    color: #000;
    font-size: 10px;
    line-height: 5.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-family: Avenir-Next, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}
a:hover
{
	text-decoration:none;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-toggle {
background-color: rgb(169, 38, 50);
       border: 1px solid rgb(169, 8, 23);
}
.container
{
	margin-top:10px;
}
h2
{
	font-style:normal;
	font-weight:bold;
    color: #ef1428;
    font-size: 35px;
    line-height: 5.5rem;
    text-transform: uppercase;
    letter-spacing: 1.0rem;
    font-family: Avenir-Next, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}
#form1
{
	margin-top:30px;
}
form label
{
	text-transform:uppercase;
	font-size:14px;
}
.input-sm
{
	/*padding:17px 15px;*/
	border-radius:0;
}
.redBtn
{
	background-color:#ef1428;
	border:0;
	border-radius:0;
	padding:10px 10px;
	margin-top:20px;
	color:#fff;
}
.redBtn:hover, .redBtn:focus, .redBtn:active,.redBtn:visited  
{
	background-color:#5ad0b6;
	color:#fff;
}
.has-error small
{
	float:left;
}
.error, .emailError, .passError
{
	color:#ef1428;
	font-size:12px;
	font-style:italic;
	float:right;
	margin-top:5px;
	font-weight:bold;
	display:none;
}
.link
{
	font-style: normal;
    color: #000;
    font-size: 12px;
    line-height: 5.5rem;
    text-transform: uppercase;
    font-family: Avenir-Next, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}
.link:hover
{
	color:#5ad0b6;
}